/* Sass for videojs-seek-buttons */

/* Using material icon font */

@import url(https://fonts.googleapis.com/css?family=Material+Icons);
.video-js {
  /* This class is added to the video.js element by the plugin by default. */
  & .vjs-seek-button {
    font-family: 'Material Icons';
    cursor: pointer;
    width: 100% !important;
    border-radius: 50%;
    font-size: 22px;
    &.skip-back::before {
      content: '\e042';
    }
    &.skip-back.skip-10::before {
      content: '\e059';
    }
    &.skip-back.skip-5::before {
      content: '\e05b';
    }
    &.skip-back.skip-30::before {
      content: '\e05a';
    }
    &.skip-forward::before {
      content: '\e5d5';
    }
    &.skip-forward.skip-10::before {
      content: '\e056';
    }
    &.skip-forward.skip-5::before {
      content: '\e058';
    }
    &.skip-forward.skip-30::before {
      content: '\e057';
    }
  }
  &.vjs-v6, &.vjs-v7 {
    & .vjs-seek-button {
      &.skip-back::before, &.skip-back.skip-10::before, &.skip-back.skip-5::before, &.skip-back.skip-30::before, &.skip-forward::before, &.skip-forward.skip-10::before, &.skip-forward.skip-5::before, &.skip-forward.skip-30::before {
        content: none;
      }
      &.skip-back .vjs-icon-placeholder::before {
        content: '\e042';
      }
      &.skip-back.skip-10 .vjs-icon-placeholder::before {
        content: '\e059';
        line-height: 1.2 !important;
      }
      &.skip-back.skip-5 .vjs-icon-placeholder::before {
        content: '\e05b';
      }
      &.skip-back.skip-30 .vjs-icon-placeholder::before {
        content: '\e05a';
      }
      &.skip-forward .vjs-icon-placeholder::before {
        content: '\e5d5';
      }
      &.skip-forward.skip-10 .vjs-icon-placeholder::before {
        content: '\e056';
        line-height: 1.2 !important;
      }
      &.skip-forward.skip-5 .vjs-icon-placeholder::before {
        content: '\e058';
      }
      &.skip-forward.skip-30 .vjs-icon-placeholder::before {
        content: '\e057';
      }
    }
  }
  .my-controls {
    position: absolute;
    top: calc(50% - 35px);
    width: 50px !important;
    height: 50px !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50%;
  }
  .forward-seek {
    left: calc(50% + 50px) !important;
  }
  .backward-seek {
    left: calc(50% - 100px) !important;
  }
}